[Unit]
Description=Unofficial Mullvad.net client.
Documentation=https://github.com/pmkap/mulvlad

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/mulvlad.py start
ExecStop=/usr/local/bin/mulvlad.py stop
ExecReload=/usr/local/bin/mulvlad.py start

[Install]
WantedBy=multi-user.target
